.App {
  min-height: calc(100vh - 16px);
  min-width: calc(100vw - 16px);
  padding: 8px;
  display: inline-flex;
  flex-direction: column;
  text-align: center;
}

.App-list {
  display: flex;
  justify-content: space-between;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media screen and (max-width: 960px) {
  .App-list {
    display: flex;
    flex-direction: column;
  }
}
